<div class="container">
    <div class="row z-depth-3">
        <h1>Shelf It</h1>
        <h3>Whiskey Tasting</h3>
        <div class="col s6 newWhiskey">
            <ul>
                {{#each whiskey}} {{#unless tasted}} {{> whiskey/whiskey-block}} {{/unless}} {{/each}}
            </ul>
        </div>
        <div class="col s6 imbibedWhiskey">
            <ul>
                {{#each whiskey}} {{#if tasted}}
                <div class="whiskeyDiv whiskeyImbibed">
                    <span class="whiskeyName">{{name}}</span>
                </div>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 whiskeyFormDiv z-depth-3">
                    <form class="create-form" autocomplete="off">
                        <div class="input-field">
                            <input class="autocomplete" type="text" id="name" name="name">
                            <label for="name">Enter Whiskey</label>
                            <button type="submit" class="waves-effect waves-light btn-small addWhiskey">
                                <i class="material-icons right">local_drink</i>Shelf It</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
